* {
  margin: 0;
}

canvas {
  width: 400px;
}

#img-container img {
  position: fixed;
}

#rectangular {
  width: 300px;
  left: -150px;
  top: 5vh;
}

#Oval-Frame {
  width: 350px;
  left: -100px;
  top: 35vh;
}

#Round-Frame {
  width: 550px;
  right: -300px;
  top: 10vh;
}

#boy, #girl {
  bottom: -20px;
  left: 50%;
  width: 650px;
  transform: translateX(-325px);
}

#sketch-container {
  z-index: -1;
  position: fixed;
  top: -15vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sketch-frame {
  position: fixed;
  width: 95vh;
  height: 55vh;
  padding: 40px;
  background-position: center;
  background-image: url("https://i.ibb.co/pWS5Gx1/main-Frame.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

#sketch-div {
  width: 100%;
  height: 100%;
}

#affectiv-container {
  position: fixed;
  z-index: 100;
}
